.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 65px;
  height: 65px;
  background: none;
  cursor: pointer;
}

.main-nav {
  display: flex;
  flex-direction: column;

  &--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 15px;
    width: 24px;
    height: 1.5px;
    background-color: $basic-black;
    box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--closed .main-nav__list {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &--opened .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 65px;
    height: 65px;
    background: none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 30px;
      right: 20px;
      width: 25px;
      height: 2px;
      background-color: $basic-black;
      cursor: pointer;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    @media (min-width: $tablet-width),
      (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    &--nojs .main-nav__toggle {
      display: none;
    }

    &--nojs .main-nav__list {
      display: flex;
    }
  }
}
