.page-header {
  position: relative;
  background-color: transparent;
  border-bottom: 1px solid $color-grey;

  @media (min-width: $tablet-width) {
    margin: 20px auto 52px;
    padding: 0 30px;
    width: 92%;
    display: flex;
    justify-content: space-between;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 47px auto 60px;
    padding: 0 10px;
  }
}

.page-header__logo {
  width: 191px;
  height: 38px;
  display: block;
  margin: 0;
  padding: 12px 20px 16px 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 5px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
