.buttons-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 29px 0 0;
  padding: 0 31px 34px;

  @media (min-width: $tablet-width) {
    padding: 0 65px;
  }

  @media (min-width: $desktop-width) {
    width: 580px;
    margin: 0;
    padding: 0 0 67px;
  }
}


.buttons-list__button {
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    background-color: transparent;
    border-bottom: 1px dotted $color-grey-b2;

    &:hover {
      border-bottom: 1px solid $color-grey-b2;
    }

    &:active {
      border: none;
    }
  }
}

.buttons-list__scale {
  width: 84px;
  height: 14px;
  background-color: $basic-white;
  border: 1px solid $special-grey;
  box-sizing: border-box;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 428px;
    height: 6px;
    border: none;
    background-color: $color-grey-dc;
  }
}

.buttons-list__bar {
  display: block;
  width: 35px;
  height: 6px;
  margin: 3px;
  background: $basic-green;
  border-radius: 6px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -13px;
    left: 46.5%;
    width: 8px;
    height: 8px;
    background-color: $basic-green;
    border: 13px solid $basic-white;
    box-shadow: 0 1px 3px $color-black-shadow;
    border-radius: 50%;
    margin: 0;

    &:hover {
      box-shadow: 0 2px 4px $color-black-shadow-hover;
    }

    &:active {
      box-shadow: 0 3px 5px $color-black-shadow-active;
    }
  }
}
