.live-example {
  margin: 0;
  // padding: 0 0 28px;


  @media (min-width: $tablet-width) {
    margin: 14px 0 0;
    padding: 0 0 67px;
    background-image: linear-gradient($basic-white 0%, $basic-white 56.5%, $color-grey-special 56.5%, $color-grey-special 100%);
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    background-image: linear-gradient($basic-white 0%, $basic-white 25%, $basic-grey 25%, $basic-grey 100%);
  }
}

.live-example__container {
  background-color: $color-grey-special;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    // background-image: linear-gradient($basic-white 0%, $basic-white 30%, $basic-grey 30%, $basic-grey 100%);
  }
}

.live-example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin: 0 0 34px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    margin-bottom: 146px;
  }
}

.live-example__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 99%;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 0 0 8px;
  }
}

.live-example__br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.live-example__price-container {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }
}

.live-example__list {
  list-style: none;
  margin: 24px 0 33px;
  padding: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    margin: 62px 0 61px;
  }
}

.live-example__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.live-example__price-value {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 9px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-left: 63px;
  }
}

.live-example__column-container-left {
  margin: 0 0 45px;

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 436px;
  }
}

.live-example__column-container-rigt {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    background-color: $color-grey-special;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-grey-special;
    width: 690px;
  }
}

.live-example__image-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    height: 517px;
    // overflow: hidden;
    // margin-bottom: 53px;
  }
}

@media (min-width: $tablet-width) {
  .live-example__image {
    max-width: 100%;
    overflow: hidden;
  }
}

@media (min-width: $desktop-width) {
  .live-example__image {
    &--before {
      position: absolute;
      height: auto;
      top: -37px;
      left: -70px;
      z-index: 2;
    }

    &--after {
      position: absolute;
      top: -30px;
      right: -40px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .live-example__image {
    display: none;

    &--show {
      display: block;
      width: 100%;
      height: 232px;
      overflow: hidden;
    }
  }
}
