.adventages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.adventages__list {
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: 280px 280px;
    column-gap: 133px;
    row-gap: 0;
    align-items: end;
    padding-bottom: 47px;
    border-bottom: 1px solid $special-border-gray;
  }
}

.adventages__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.adventages__text {
  position: relative;
  margin: 0;
  padding: 0 20px 0 60px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: -20px;
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: -106px;
      left: 0;
    }
  }

  &--img-natural::before {
    background-image: url("../../img/natural1.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/natural2.svg");
    }
  }

  &--img-powder::before {
    background-image: url("../../img/powder.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/powder2.svg");
    }
  }

  &--img-eating::before {
    background-image: url("../../img/eating.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/eating2.svg");
    }
  }

  &--img-time::before {
    background-image: url("../../img/time1.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/time2.svg");
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
}
