.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
}
