.contacts {
  @media (min-width: $tablet-width) {
    &--special {
      background-color: $basic-grey;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &--special {
      background-color: $basic-grey;
    }
  }
}

.contacts__header {
  display: flex;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    box-sizing: border-box;
    width: 570px;
    padding: 65px 75px;
    top: 98px;
    left: 10px;
    background-color: $basic-white;
  }
}

.contacts__cooperation {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-black;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
    width: 171px;
  }
}

.contacts__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
  }
}
