.live-example__container {
  background-color: $color-grey-special;
}

.live-example__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  padding-top: 27px;
  padding-left: 20px;
}

.live-example__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 21px;
}

.live-example__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.live-example-item__value {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $basic-black;
}


.live-example-item__title {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $special-dark-grey;
  width: 60px;
}

.live-example__price {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
}

.live-example__buttons {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  padding-bottom: 25px;
}

.buttons-list__button {
  border: none;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  //
  text-align: center;
  text-transform: uppercase;
}

.buttons-list__scale {
  width: 84px;
  height: 14px;
  background-color: $basic-white;
  border: 1px solid $special-grey;
  box-sizing: border-box;
  border-radius: 6px;
}

.buttons-list__bar {
  display: block;
  width: 35px;
  height: 6px;
  margin: 3px ;
  background: $basic-green;
  border-radius: 6px;
}
