.page-footer {
  display: flex;
}

.page-footer__container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px 61px;
    height: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 57px 110px;
  }
}

.page-footer__logo {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid $color-grey;

  @media (min-width: $tablet-width) {
    border: none;
    justify-content: space-between;
    // align-items: center;
  }
}

.page-footer__social {
  border-bottom: 1px solid $color-grey;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
  }
}
