// .page {
//   min-width: 1440px;
// }

.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  background-color: $basic-white;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media (min-width: $desktop-width) {
    position: relative;

    &--bg::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 694px;
      top: 0;
      right: 0;
      // z-index: -1;
      background-image: url("../../img/cat-section-eating-desktop.png");
      background-position-x: right;
      background-repeat: no-repeat;
      background-color: $basic-green;
      background-size: 100% 694px;
    }
  }
}
