.page-main {
  background-color: $basic-white;
}

.page-main__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  padding: 27px 20px 37px;
}

.page-main__catalog-heading {
  border-bottom: 1px solid $special-grey-lighten;
}
