.page-main {
  background-color: $basic-white;

  &--form,
  &--catalog {
    margin-bottom: 15px;
    overflow-x: hidden;
  }

  @media (min-width: $tablet-width) {
    // margin-bottom: 55px;
    // margin-top: 62px;
    margin: 0;
    padding: 0;
  }

  // @media (min-width: $desktop-width) {
  //   padding: 0;
  // }
}

.page-main__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  margin: 0 auto;
  padding: 27px 20px 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 0 57px 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1240px;
    margin-top: 6px;
    padding-left: 20px;
  }
}

.page-main__catalog-heading {
  margin-top: 3px;
  border-bottom: 1px solid $special-grey-lighten;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    border: none;
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
  }
}
