.social__list {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    width: 130px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    // width: auto;
  }
}

.social__item:not(:first-child) {
  margin: 0 0 0 33px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__link {
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: flex;

  &--vk {
    background-image: url("../../img/icon_vkontakte.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      margin: 5px 0 0 10px;
      background-image: url("../../img/icon_vkontakte-full.svg");
    }
  }

  &--instagram {
    background-image: url("../../img/icon_instagram.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      margin: 9px 0 0 27px;
      background-image: url("../../img/icon_instagram-full.svg");
    }
  }

  &--fb {
    background-image: url("../../img/icon_facebook.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      margin: 0 0 0 15px;
      background-image: url("../../img/icon_facebook-full.svg");
    }
  }

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 33px;
  }
}
