.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 163px;
  }
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}


.copyright__link-logo {
  width: 27px;
  height: 34px;
  color: $special-grey-darken;

  &:hover {
    color: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}
