.page-footer {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    height: 150px;
    margin: 0;
    padding: 0;
  }

  &--special {
    @media (min-width: $tablet-width) {
      background-color: $basic-grey;
    }
  }
}

.page-footer__container {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 30px 61px;
    height: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 77px 0;
  }
}

.page-footer__logo {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 25px 0 29px;
  border-bottom: 1px solid $color-grey;

  @media (min-width: $tablet-width) {
    border: none;
    justify-content: space-between;
    // align-items: center;
  }
}

.page-footer__social {
  border-bottom: 1px solid $color-grey;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
  }
}
