.additional-products {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.additional-products__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 8px 0 20px;
  color: $basic-black;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 50vw;
    height: 2px;
    top: 25px;
    right: calc(-50vw + 35px);
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 22px;
      width: 100vw;
      right: calc(-100vw + 300px);
    }

    @media (min-width: $desktop-width) {
      right: -38vw;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 0 37px;
    margin-bottom: 80px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 50vw;
      height: 2px;
      background-color: $basic-green;
      top: 22px;
      left: -50vw;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 65px;

    &::before {
      left: -53vw;
    }
  }
}

.additional-products__list {
  list-style: none;
  padding: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.additional-products__item {
  border-bottom: 1px solid $special-grey;
  padding: 0 0 17px;

  &:first-child {
    border-top: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid $special-grey;
    padding: 12px 36px 26px 37px;
    box-sizing: border-box;

    &:not(:first-child) {
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 11px 0 0;
    border-left: none;
    border-right: none;
  }
}

.additional-products__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-grey-black-dark;
  margin: 13px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-products__container {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 226px;
    font-size: 16px;
    line-height: 20px;
    justify-content: flex-end;
    margin-right: 0;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 40px;
  }
}

.additional-products__count {
  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;

    &--sweetener {
      margin-left: 0;
    }

    &--vitamins {
      margin-left: 7px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.additional-products__price {
  &--water {
    @media (min-width: $desktop-width) {
      padding-right: 5px;
    }
  }
}

.additional-products__order {
  height: 40px;

  @media (min-width: $tablet-width) {
    width: 632px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    flex-grow: 0;
    margin-top: 3px;
    margin-right: 0;
  }
}
