.catalog {
  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
