.description-table__row {
  display: flex;
  justify-content: space-between;
  padding: 0;

  @media (min-width: $tablet-width) {
    // padding-bottom: 10px;
  }
}

.description-table__cell {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  &:last-child {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    width: 252px;
    border-bottom: 1px solid $special-grey;
    padding: 5px;
  }
}
