.products {
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.products__item {
  position: relative;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    // padding: 0;
  }
}

.products__item::after {
  content: "";
  position: absolute;
  width: 114%;
  height: 1px;
  left: -7%;
  bottom: -25px;
  background-color: $special-grey-lighten;
}
