.form {
  margin: 0 auto 55px;
}

.form__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 60px;
  }
}

.form__container {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__list-border-container {
  padding: 22px 20px 16px;
  border-bottom: 1px solid $color-grey;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 82%;
    margin: 0 auto;
    border: 1px solid $special-grey;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    height: 200px;
  }
}

.form__list {
  list-style: none;
  padding: 0;
}

.form__item,
.form__input-text::placeholder,
.form__comments::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.form__input-text {
  border: 1px solid $color-grey-universal;
  margin: 0;
  padding: 16px 0 10px 15px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__fieldset {
  @media (min-width: $tablet-width) {
    width: 631px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form__legend {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  flex-wrap: nowrap;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    // padding: 0;
  }
}

.form__legend::before,
.form__legend::after {
  content: "";
  display: block;
  width: 55%;
  height: 2px;
  background-color: $basic-green;
}

.form__legend::before {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form__button-container {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 630px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    justify-content: flex-start;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: 280px;
  height: 40px;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 282px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 81px;
  }
}

.form__required-warning {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $basic-black;
  margin-bottom: 32px;
}
