.owner-contacts {
  margin: 0 auto 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.owner-contacts__legend {
  padding-left: 19px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 75px;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.owner-contacts__legend::after {
  margin: 0 0 18px;

  @media (min-width: $tablet-width) {
    width: 19%;
    margin: 10px 0 0 40px;
    flex-shrink: 10;
  }
}

.owner-contacts__legend::before {
  @media (min-width: $tablet-width) {
    width: 4%;
    margin: 10px 38px 0 0;
    flex-shrink: 12;
  }
}

.owner-contacts__list {
  margin: 35px 0 0;
  padding: 0 19px;

  @media (min-width: $tablet-width) {
    margin: 35px auto 0;
    padding: 0 58px 0 64px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}

.owner-contacts__item {
  margin: 0 0 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.owner-contacts__input {
  &--email {
    margin: 0 0 0 14px;
    width: 77%;
    background-image: url("../../img/icon_email.svg");
    background-position: 180px 14px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      margin-left: 18px;
      padding-left: 20px;
      width: 85%;
      background-position: 514px 18px;
    }

    @media (min-width: $desktop-width) {
      background-position: 448px 12px;
    }
  }

  &--tel {
    width: 72%;
    margin: 0 0 0 10px;
    background-image: url("../../img/phone-1.svg");
    background-position: 170px 13px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      margin-left: 15px;
      padding-left: 20px;
      width: 83%;
      background-position: 498px 15px;
    }

    @media (min-width: $desktop-width) {
      background-position: 435px 10px;
    }
  }
}

.owner-contacts__label {
  &--email {
    @media (min-width: $tablet-width) {
      padding-left: 7px;
    }
  }

  &--tel {
    @media (min-width: $tablet-width) {
      padding-left: 4px;
    }
  }
}
