$basic-black: #000000;
$basic-white: #ffffff;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$special-black: #111111;
$special-grey-lighten: #ebebeb;
$special-grey: #cdcdcd;
$special-grey-darken: #666666;
$special-dark-grey: #444444;
$special-grey-black-dark: #222222;
$sttus-error: #ff8282;
$special-green: #5eaa2f;
$special-border-gray: #e6e6e6;
$basic-green-opacity: rgba(#68b738, 0.85);
$color-grey: #d9d9d9;
$color-grey-special: #eaeaea;
