.contacts-map {
  margin: 0 auto;
  height: 362px;
  background-color: $basic-white;
  background-image: url("../../../img/location-mobile.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../../../img/location-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../../img/location-desktop.jpg");
    width: 100%;
    height: 400px;
  }
}
